{
  "presets": ["flow", "react-native"],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "env": {
    "web:dev": {
      "plugins": [
        "react-hot-loader/babel",
        "universal-import",
        "react-native-web",
        "transform-minify-booleans",
        "transform-node-env-inline",
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ]
      ]
    },
    "web:prod": {
      "plugins": [
        "universal-import",
        "react-native-web",
        "transform-react-display-name",
        "transform-node-env-inline",
        "minify-simplify",
        [
          "minify-dead-code-elimination",
          {
            "optimizeRawSize": true
          }
        ]
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ]
      ]
    }
  }
}
