{
  "presets": ["flow"],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "env": {
    "development": {
      "presets": ["react-native"]
    },
    "production": {
      "presets": ["react-native"]
    },
    "web:dev": {
      "plugins": [
        "universal-import",
        "react-native-web",
        "transform-react-jsx-source",
        "transform-react-jsx-self",
        "react-hot-loader/babel"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ],
        "react"
      ]
    },
    "web:prod": {
      "plugins": [
        "universal-import",
        "react-native-web",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-display-name",
        "minify-simplify",
        [
          "minify-dead-code-elimination",
          {
            "optimizeRawSize": true
          }
        ]
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ],
        "react"
      ]
    }
  }
}
